<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key={{ gareview.config.google_map_api_key }}&signed_in=true&libraries=places"type="text/javascript"></script>
<div class="write Review">
<a target="_blank" href="{{ gareview.apiurl }}">{{ gareview.config.review_link_title }}</a>
</div>
<div id="google-reviews"></div>